* {
    font-family: 'Sintony', sans-serif, Arial;
}
body{
	background-image: url("../img/chicken.png");
}
/*HEADER*/
#header{
	text-align:center;
}
/*LOG*/
.log-container{
	float:left;
	height:80px;
	padding:10px;
}
/*GAME*/
#game{
	text-align:center;
	height: 450px;
	width: 940px;
	position:relative;
}
.form{
	width:400px;
	height:220px;
	position:absolute;
	top:0px;
	left:270px;
	border: 5px solid rgb(100,100,100);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	text-align:center;
	padding-top: 180px;
	background:white;
}
#url-div{
	z-index:99;
	display:none;
}
#url-div > span{
	position:relative;
	font-size:30px;
	top:-50px;
}
#username-div{
	z-index:100;
}
.eggs{
	width:400px;
	height:400px;
	position:absolute;
	top:50px;
	background-size:100% 100%;
}
#egg{
	left:270px;
	z-index:2;
	background-image: url('../img/egg.png');
}
.center{
  text-align:center;
}
.crack-egg{
  left:270px;
	width:400px;
	height:400px;
	position:absolute;
	top:50px;
	z-index:3;
	display:none;
}
#wins{
  width:100%;
  display:inline-block;
  font-size: 20px;
}

#pbar_outer{
  width: 300px;
  height: 20px;
  border: 1px solid grey;
  z-index: 50;
  display:inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  
}
#pbar_inner{
  background-color: lightblue; 
  z-index: 51; 
  height: 100%; 
  width: 0%;
}

#holdSpace{
  display:inline-block;
  font-size: 20px;
}
#versus{
  display:inline-block;
  font-size:20px;
}
#egg1{
	left:270px;
	z-index:2;
	background-image: url('../img/egg/egg-left.png');
}
#egg2{
	left:270px;
	z-index:2;
	background-image: url('../img/egg/egg-right.png');
}
#crack1{
	background-image:url('../img/cracks/1.png');
    background-size:100% 100%;
}
#crack2{
	background-image: url('../img/cracks/2.png');
	background-size:100% 100%;
}
#crack3{
	background-image:url('../img/cracks/3.png');
    background-size:100% 100%;
}
#crack4{
	background-image: url('../img/cracks/4.png');
	background-size:100% 100%;
}
#crack5{
	background-image:url('../img/cracks/5.png');
    background-size:100% 100%;
}
#crack6{
	background-image: url('../img/cracks/6.png');
	background-size:100% 100%;
}
#crack7{
	background-image:url('../img/cracks/7.png');
    background-size:100% 100%;
}
#crack8{
	background-image: url('../img/cracks/8.png');
	background-size:100% 100%;
}
/*#crack {
  background:url('../img/cracks.png');
    background-size:100% 100%;
  display:none;
  position: fixed;
    width: 600px;
    height: 500px;
}*/
/*COPYRIGHT*/



#copyright {
  display: inline-block;
	 bottom: 10px;
    font-size:100%;
    text-align:center;
    margin:20px 0 0 0;
    padding:30px 0;
}
